
@model ViewModel.ListOfViewModels

@if (Model.ListofContactDetails != null)
{

<div class="container z-depth-2 text-center ContactDetailsBackground ">

    <section class="px-md-5 mx-md-5 text-center  UserBenefitsTextStyle ">
        @foreach (var item in Model.ListofContactDetails.Take(1))
        {
            <h3 class="font-weight-bold">@item.MainTitle</h3>


        }

            <div class="row mt-4">
                @foreach (var item in Model.ListofContactDetails.Take(1))
                {
                <div class="col-lg-5 col-md-5 mb-0 mb-md-0 UserBenefitsTextStyle">

                    <i>
                        <img src="https://i.ibb.co/pJTH5kf/Email.png" />
                    </i>

                    <p class="font-weight-bold my-1">E-mail</p>

                    <p class="text-muted">@item.Email</p>


                    <i>
                        <img src="https://i.ibb.co/2h3T0Rd/Location.png" />
                    </i>

                    <p class="font-weight-bold my-1">Address</p>

                    <p class="text-muted">@item.Address</p>

                    <i>
                        <img src="https://i.ibb.co/tJDyPD4/Phone.png" />
                    </i>

                    <p class="font-weight-bold my-1">Phone number</p>

                    <p class="text-muted">@item.MobileNumber</p>

                    <i>
                        <img src="https://i.ibb.co/hdzyXSb/Work-Hours.png" />
                    </i>

                    <p class="font-weight-bold my-1">Work Hours</p>



                    <p class="text-muted mb-1 pb-1">From @item.WorkingStartDate.AddDays(1).DayOfWeek @item.WorkingStartTime.ToShortTimeString()</p>
                    <p>To @item.WrokingEndDate.AddDays(4).DayOfWeek @item.EndTime.ToShortTimeString()</p>



                    <div class="">
                        <div class="d-flex justify-content-center">
                            @foreach (var SocialMediaItem in Model.ListOfTrainerSocialMedia)
                            {
                                <div class=" mt-4">

                                    <a href="@SocialMediaItem.SocialMediaProfileUrl" target="_blank" class=" mx-1"><img src="@SocialMediaItem.SocialMediaIconUrl" /> </a>

                                </div>
                            }
                        </div>

                    </div>
                </div>

                    <div class="col-md-5 col-lg-7 col-md-6 mt-4 pt-4">
                        <lottie-player src="@item.MapAnimationUrl" background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                    </div>



                }


            </div>

        

    </section>
   
</div>

}
