@model ViewModel.HomeBannerViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detailss</title>
</head>
<body>
    <div>
        <h5>Details of <span class="chip blue lighten-4">@Model.MainTitle</span></h5>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MainTitle)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MainTitle)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SubTitle)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SubTitle)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ImageUrl)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.JoinButton)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.JoinButton)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.JoinButtonUrl)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.JoinButtonUrl)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DiscoverButton)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DiscoverButton)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DiscoverButtonUrl)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DiscoverButtonUrl)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
