@model IEnumerable<ViewModel.HomeBannerViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MainTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoinButton)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoinButtonUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscoverButton)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscoverButtonUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MainTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JoinButton)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JoinButtonUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscoverButton)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscoverButtonUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
