@model OnlineTrainingWeb.ViewModel.SendCodeViewModel
@{
    ViewBag.Title = "Send";
    Layout = "~/Views/Shared/_LayoutForLogin.cshtml";
}


<div class="LoginMainBackground">
    <div class="container">

        <div class="row">

            <div class="col-md-6">
                <div class="card card-body mt-5  bg-transparent" id="WhoIsThisProgramFor">

                   
                    <p class="card-text text-white-50">
                        @using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("rememberMe", @Model.RememberMe)
                           
                            <hr />
                            <div class="row">
                                <div class=" mx-4">
                                    <h4 class="text-white-50">Send verification code</h4>
                                    <h5 class="text-white-50"> Select Two-Factor Authentication Provider</h5>
                                    <div class="md-form">
                                        @Html.DropDownListFor(m => m.SelectedProvider, Model.Providers,"Select Providers", new { @class = "mdb-select" })

                                    </div>

                                    <input type="submit" value="Submit" class="btn btn-rounded" />
                                </div>
                            </div>
                        }
                    </p>

                </div>
                <!-- Card -->
            </div>
            <div class="col-md-5">
                <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_y9qOnk.json" background="transparent" speed=".5" style="width: auto; height: auto;" loop autoplay></lottie-player>
            </div>

        </div>

    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
     $(document).ready(function () {
            $(".mdb-select").materialSelect();
        });
    </script>
}
