@model ViewModel.YouMayLikeViewModel
@{
    Layout = null;
}

@using (Html.BeginForm("Edit", "YouMayLike", FormMethod.Post, new { onsubmit = "return SubmitFormEdit(this)" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h5 class="text-primary">Do you want to update the <span class="chip chip blue lighten-4">@Model.Title</span> </h5>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="row offset-1">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
                    </div>
                </div>
               
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Contetn, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.TextAreaFor(model => model.Contetn, new { rows = "10", style = "resize:none;width:400px;", @class = "form-control input-lg textarea-editor" })
                        @Html.ValidationMessageFor(model => model.Contetn, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>


        </div>
        <div class="row offset-4">
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary btn-rounded btn-md"><i class="fas fa-save pr-2"></i> Save</button>  |
                <button type="reset" value="Reset" class="btn btn-mdb-color btn-rounded btn-md"><i class="fas fa-redo-alt"></i> Reset</button>

            </div>
        </div>







    </div>
}

