@model ViewModel.ListOfViewModels

@if(Model.ListOfForLearner !=null)
{
<div class="ForLearnerBackground">

    <div class="container p-5 mt-5 ">


        <!--Section: Content-->
        <section class="dark-grey-text">



            <!-- Grid row -->
            <div class="row">
               
                <!-- Grid column -->
                <div class="col-lg-6  ">
                    <div class="view">
                        <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_ncpnijkz.json" background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                    </div>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-6">
                    @foreach (var item in Model.ListOfForLearner)
                    {
                        <div class="row mb-3">

                            <!-- Grid column -->
                            <div class="col-1">
                                <i class="fas fa-share fa-lg indigo-text"></i>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-xl-10 col-md-11 col-10 HomebannerExplorationTextColor">
                                <h5 class="font-weight-bold mb-3">@item.MainTitle</h5>
                                <p class="grey-text">
                                    @item.Content
                                </p>
                                <a href="@item.ButtonUrl" class="chip pr-4"><i class="fas fa-tag"></i> @item.ButtonText</a>
                            </div>
                            <!-- Grid column -->

                        </div>
                    }
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <!--Grid row-->
                    <!--Grid row-->

                </div>
                <!--Grid column-->

            </div>
            <!-- Grid row -->

        </section>
        <!--Section: Content-->


    </div>
    @*<div class="container my-5 p-5 ">


            <!--Section: Content-->
            <section class="dark-grey-text">


                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-5 text-center text-lg-left">

                        <div class="view">
                            <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_AGoC3n.json" background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-7">

                        <!-- Grid row -->
                        <div class="row mb-3">

                            <!-- Grid column -->
                            <div class="col-1">
                                <i class="fas fa-share fa-lg indigo-text"></i>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            @foreach (var item in Model.ListOfForLearner)
                            {
                                <div class="col-xl-10 col-md-11 col-10">
                                    <h5 class="font-weight-bold mb-3">@item.MainTitle</h5>
                                    <p class="grey-text">
                                        @item.Content
                                    </p>

                                    <a href="@item.ButtonUrl" class="btn btn-rounded btn-md">@item.ButtonText</a>
                                </div>
                            }

                            <!-- Grid column -->

                        </div>

                    </div>
                    <!--Grid column-->

                </div>
                <!-- Grid row -->

            </section>
            <!--Section: Content-->


        </div>*@
</div>
}
