@model ViewModel.QuizBannerViewModel
@{
    Layout = null;
}

<div>

    <div class="card-body card-body-cascade d-flex justify-content-center mt-n2">
        @using (Html.BeginForm("Details", "QuizBanner", FormMethod.Get, new { onsubmit = "return SubmitFormDetails(this)" }))
        {
            @Html.HiddenFor(model => model.Id)

            <!-- Table with panel -->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

                    <text><i class="fas fa-info"></i> Details of <span class="tag">@Model.MainTitle</span></text>
                </div>
                <!--/Card image-->

                <div class="px-4">

                    <div class="table-wrapper">
                        <!--Table-->
                        <table class="table table-hover mb-0">

                            <!--Table head-->
                            <!--Table head-->
                            <!--Table body-->
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.MainTitle)</td>
                                    <td class="text-primary"> @Html.DisplayFor(model => model.MainTitle)</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.JoinButton)</td>

                                    <td class="text-primary"> @Html.DisplayFor(model => model.JoinButton)</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.JoinButtonUrl)</td>

                                    <td class="text-primary"> @Html.DisplayFor(model => model.JoinButtonUrl)</td>
                                </tr>

                                <tr>
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.DiscoverButton)</td>

                                    <td class="text-primary"> @Html.DisplayFor(model => model.DiscoverButton)</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.DiscoverButtonTUrl)</td>

                                    <td class="text-primary"> @Html.DisplayFor(model => model.DiscoverButtonTUrl)</td>
                                </tr>

                                <tr>
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.ImageUrl)</td>

                                    <td class="text-primary"> @Html.DisplayFor(model => model.ImageUrl)</td>
                                </tr>
                                <tr class="">
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold">  @Html.DisplayNameFor(model => model.Content)</td>
                                    <td class="collapse" id="collapseExample"> @Html.Raw(Model.Content)</td>
                                    <td>
                                        <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample"
                                                aria-expanded="false" aria-controls="collapseExample">
                                            view content
                                        </button>
                                    </td>


                                </tr>


                            </tbody>
                            <!--Table body-->
                        </table>
                        <!--Table-->
                    </div>

                </div>

            </div>
            <!-- Table with panel -->

        }


    </div>

</div>
