@model ViewModel.BusinessPageViewModel
@{
    Layout = null;
}

@using (Html.BeginForm("Create", "BusinessPage", FormMethod.Post, new { onsubmit = "return SubmitFormCreate(this)" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row offset-1">
            <div class="col-lg-6">
                <div class="form-group ">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label " })
                    <div class="">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group ">
                    @Html.LabelFor(model => model.Slug, htmlAttributes: new { @class = "control-label " })
                    <div class="">
                        @Html.EditorFor(model => model.Slug, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Slug, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BusinessBannerId, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.DropDownListFor(m => m.BusinessBannerId, new SelectList(ViewBag.BusinessBanner, "Id", "MainTitle"), "-----Select home banner ------", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BusinessBannerId, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>
            <div class="col-lg-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.TextAreaFor(model => model.Content, new { rows = "10", style = "resize:none;width:400px;", placeholder = Html.DisplayNameFor(model => model.Content), @class = "form-control input-lg textarea-editor" })

                        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="offset-4">
                <div class="form-group">
                    <button type="submit" value="Create" class="btn btn-primary btn-rounded btn-md"><i class="fas fa-save pr-2"></i> Save</button>  |
                    <button type="reset" value="Reset" class="btn btn-mdb-color btn-rounded btn-md"><i class="fas fa-redo-alt"></i> Reset</button>

                </div>
            </div>
        </div>
    </div>
}
