@model ViewModel.QuizBasicInfoViewModel

@{
    ViewBag.Title = "ContactForm";
    Layout = "~/Views/Shared/_QuizLayout.cshtml";
}
<div class="container py-5 my-5" id="WhoIsThisProgramFor">
    @using (Html.BeginForm("QuizBasicInfoContact", "QuizPageFront", FormMethod.Post, new { onsubmit = "return SubmitFormCreate(this)" }))
    {
        @Html.AntiForgeryToken()

        <!--Section: Contact v.2-->
        <section class="mb-4 my-5 CustomBannerFontStyle">

            <!--Section heading-->
            <h2 class="h1-responsive font-weight-bold text-center my-4">Write to us</h2>
            <!--Section description-->


            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <!--Grid column-->
                <div class="col-md-9 col-lg-9 offset-lg-2 col-sm-12 offset-sm-0 offset-md-2 mb-md-0 mb-5">


                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-5 mx-md-4 mx-lg-4 px-4">
                            <div class="md-form mb-0">
                                @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label  " })
                                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-md-5 mx-md-4 mx-lg-4 px-4">
                            <div class="md-form mb-0">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label  " })
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-md-5 mx-md-4 mx-lg-4 px-4">
                            <div class="md-form mb-0">
                                @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })

                            </div>
                        </div>
                       
                      
                        <div class="col-md-5 mx-md-4 mx-lg-4 px-4">
                            <div class="md-form mb-0 ">
                                @Html.LabelFor(model => model.CountryId, htmlAttributes: new { @class = "control-label " })

                                @Html.DropDownListFor(m => m.CountryId, new SelectList(ViewBag.CountryName, "Id", "LandName"), "Select your country", new { @class = "mdb-select", searchable = "Search here.." })
                                @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>
                    <!--Grid row-->
                    <!--Grid row-->
                  
                    <div class="form-md">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-rounded"><i class="fas fa-paper-plane mr-2 "></i>Submit</button>
                        </div>
                    </div>

                </div>


            </div>

        </section>


    }
</div>

<div class="container pt-5" >

    <div class="CustomBannerFontStyle">
        <h5>You may like our courses</h5>
    </div>
    @{
        Html.RenderAction("CoursesDescriptionsData", "Courses");
    }
</div>




@section scripts {


    <script>
        $(document).ready(function () {
            $(".mdb-select").materialSelect();
        });
        function SubmitFormCreate(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {

                            $.notify(data.message, {
                                Position: "right",
                                className: "success"
                            });

                        }
                        else
                            $.notify(data.message, {
                                Position: "right",
                                className: "error"
                            })
                    }
                });
            }
            return false;
        }
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}


