@model ViewModel.ListOfViewModels

@if(Model.ListofCoursesDescriptions !=null)
{
    <div class="container my-5">
        <div class="row">
            @foreach (var item in Model.ListofCoursesDescriptions)
            {
                <div class="col-md-4">
                    <div class="card card-cascade wider card-shwadow mb-4">

                        <!--Card image-->
                        <div class="view view-cascade card-shwadow">

                                    <img src="@item.ImageUrl" class="card-img-top">
                                    <a href="@item.TakeCourseButtonUrl">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>

                        </div>
                        <!--/Card image-->
                        <!--Card content-->
                        <div class="card-body card-body-cascade card-background-color z-depth-0 text-center CustomBannerFontStyle ">
                            <!--Title-->
                            <h6 class="card-title">@item.MainTitle</h6>
                            <h4 class="font-weight-bold">@item.Title</h4>

                            <p class="text-justify">
                               @item.Content
                            </p>


                            <!--Linkedin-->
                            <a class="btn btn-rounded btn-md" href="@item.TakeCourseButtonUrl"> @item.TakeCourseButton</a>
                            <!--Twitter-->
                          

                        </div>
                        <!--/.Card content-->

                    </div>

                </div>
            }

        </div>
         
        <div class="my-5">
            <!--Accordion wrapper-->
            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingOne1">
                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                           aria-controls="collapseOne1">
                            <h5 class="mb-0">
                                Collapsible Group Item #1 <i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                         data-parent="#accordionEx">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                            wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                            eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                            nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                            labore sustainable VHS.
                        </div>
                    </div>

                </div>
                <!-- Accordion card -->
              

            </div>
            <!-- Accordion wrapper -->
        </div>
    </div>
    
}
