@model ViewModel.BaseViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.Action("GetMetaData","Home")
    @Html.Action("GetOGTagData","Home")
    @Html.Action("TwitterTagData", "Home")
    <title>@ViewBag.Title - @Model.SiteTitle</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
   
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/node_modules/lottie-player/dist/lottie-player.js"></script>

</head>
<body>
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg fixed-top scrolling-navbar right">
        <a class="navbar-brand" href="#">.NET Online Instructor</a>
        <button class="navbar-toggler btn btn-rounded btn-sm" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class=" text-white fas fa-bars fa-2x "></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            @Html.Action("PartialMenus", "Home")
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    @Html.Partial("_LoginPartial")
                </li>


            </ul>
        </div>
    </nav>
    <!--/.Navbar -->




    <div class="container-fluid body-content">
       
        @RenderBody()



        <div class="FooterMainBackground">
            <footer class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="bg-transparent">
                            <!-- Mask & flexbox options-->
                            <div class="mask">
                                <!-- Content -->
                                <div class="container h-100">
                                    <!--Grid row-->
                                    <div class="row align-items-center h-100">
                                        <!--Grid column-->
                                        <div class="col-md-6 pt-4 FooterFontStyle ">
                                            <h1 class="text-center text-md-left text-lg-left text-xl-left">@Model.SiteTitle</h1>
                                            <p class="text-justify text-center text-md-left text-lg-left text-xl-left">@Html.Raw(@Model.SiteContent) </p>

                                        </div>
                                        <!--Grid column-->
                                        <!--Grid column-->
                                        <div class="col-md-6">
                                            <div class="view img-fluid">
                                                <lottie-player src="@Model.AnimationUrl" background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                                            </div>
                                        </div>
                                        <!--Grid column-->
                                    </div>
                                    <!--Grid row-->
                                </div>
                                <!-- Content -->
                            </div>
                            <!-- Mask & flexbox options-->
                        </div>

                        <div class="col-md-3 d-flex justify-content-center linksStyle">
                            <ul class="list-unstyled text-center text-xl-left  text-lg-left text-md-left">
                                @foreach (var item in Model.FooterLinks)
                                {
                                    <li><a href="@item.LinkUrl">@item.NavigationName</a></li>
                                }


                            </ul>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center linksStyle ">
                            <ul class="list-unstyled">
                                <li class="pt-3"> <i class="fas fa-home fa-x1"></i> <a>Mumbai, Maharashtra, India</a> </li>
                                <li class="pt-3"> <i class="fas fa-phone"></i> <a>+91-9920347952</a> </li>
                                <li class="pt-3"> <i class="fas fa-envelope"></i> <a>abhishek@abhishekluv.com</a> </li>
                                <li class="d-inline-flex pt-3 pl-0"> <i class="fab fa-paypal fa-2x"></i></li>
                                <li class="d-inline-flex pt-3 pl-1"> <i class="fas fa-credit-card fa-2x"></i></li>
                                <li class="d-inline-flex pt-3 pl-1"> <i class="fab fa-cc-mastercard fa-2x"></i></li>
                                <li class="d-inline-flex pt-3 pl-1"> <i class="fab fa-cc-visa fa-2x"></i></li>
                                <li class="d-inline-flex pt-3 pl-1"> <i class="fab fa-cc-apple-pay fa-2x"></i></li>
                                <li class="d-inline-flex pt-3 pl-1"> <i class="fab fa-cc-amazon-pay fa-2x"></i></li>
                            </ul>
                        </div>

                        <div class="col-md-3  justify-content-center linksStyle text-center">
                            <ul class="list-unstyled ">
                                <li class="d-lg-flex d-md-flex d-inline-flex justify-content-center pt-1 text-center text-md-left"><a type="button" class="btn btn-floating btn-fb"> <i class="fab fa-linkedin-in"></i></a></li>
                                <li class="d-lg-flex d-md-flex d-inline-flex justify-content-center pt-1"><a type="button" class="btn btn-floating btn-fb"> <i class="fab fa-github"></i></a></li>
                                <li class="d-lg-flex d-md-flex d-inline-flex justify-content-center pt-1"><a type="button" class="btn btn-floating btn-fb"> <i class="fab fa-twitter"></i></a></li>

                            </ul>
                        </div>
                        <div class="col-md-3  linksStyle">
                            <div class="md-form mt-3">
                                <input type="text" id="materialSubscriptionFormPasswords" class="form-control">
                                <label for="materialSubscriptionFormPasswords">Name</label>
                            </div>

                            <!-- E-mai -->
                            <div class="md-form">
                                <input type="email" id="materialSubscriptionFormEmail" class="form-control">
                                <label for="materialSubscriptionFormEmail">E-mail</label>
                            </div>

                            <!-- Sign in button -->
                            <button class="btn btn-rounded">Submit</button>
                        </div>


                    </div>


                </div>
                <div class="container-fluid pt-3">
                    <div class="row">

                        <div class="col-md-4 d-flex justify-content-center">
                            <div class="footer-copyright text-center  FooterFontStyle">
                                <p>@Model.Sitecopyright</p>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex justify-content-center">
                            <div class="footer-copyright text-center  FooterFontStyle">
                                <p>@Model.DesignedBy</p>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex justify-content-center">
                            <div class="footer-copyright text-center  FooterFontStyle">
                                <p> Last Updated:@Model.SiteLastUpdatedDate</p>
                            </div>
                        </div>

                    </div>
                </div>
            </footer>
        </div>


    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
