@model ViewModel.BaseViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1990 12:00:00 GMT" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Model.SiteTitle</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/node_modules/lottie-player/dist/lottie-player.js"></script>

</head>
<body>
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg fixed-top scrolling-navbar right">
        <a class="navbar-brand" href="#">.NET Online Instructor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            @Html.Action("PartialMenus", "Home")
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    @Html.Partial("_LoginPartial")
                </li>


            </ul>
        </div>
    </nav>
    <!--/.Navbar -->




    <div class="container-fluid body-content">
        @Html.Action("GetHomeBanner", "Home")
        @Html.Action("GetHomeExploration", "Home")
        @RenderBody()
        @Html.Action("GetCourseContent", "Home")
        @Html.Action("CourseEachSection", "Home")
        @Html.Action("GetForlearner", "Home")
        @Html.Action("GetOurVision", "Home")


        @*<p>&copy; @Model.SiteLastUpdatedDate - @Model.SiteName -@Model.SiteOwner</p>

        <ul>
            @foreach (var item in Model.FooterLinksTag)
            {
                <li>@item</li>
            }
        </ul>*@
        <!-- Footer -->
        <!-- Footer -->

    </div>
    <footer class="page-footer font-small blue">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase">@Model.SiteName</h5>
                    <p>@Model.SiteOwner</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled">

                        @foreach (var item in Model.FooterLinks)
                        {
                            <li>
                                <a href="@item.LinkUrl">@item.NavigationName</a>
                            </li>
                        }


                    </ul>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            @Model.Sitecopyright
            <p>@Model.DesignedBy</p>
        </div>
        <!-- Copyright -->

    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
