@model ViewModel.BaseViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Model.SiteTitle</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg fixed-top navbar-dark default-color right">
        <a class="navbar-brand" href="#">Online Training</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            @Html.Action("PartialMenus", "Home")
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    @Html.Partial("_LoginPartial")
                </li>
             
                
            </ul>
        </div>
    </nav>
    <!--/.Navbar -->
    



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @Model.SiteLastUpdatedDate - @Model.SiteName -@Model.SiteOwner</p>


        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
